
/* better to import here or in html? */
/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400'); */


:root {
  --base: #2a2a2a;
  --background: #333;
  --foreground: #aaa;
  --link: #aaa;
  --hover: #eee;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  background: var(--base);
  color: var(--foreground);
}

main {
  padding: 1em;
  max-width: 720px;
  margin: 0 auto;
  background-color: var(--background);
}

header {
  margin-bottom: 2em;
  /* border-bottom: 1px solid gray; */
}
/* add clearfix so floats don't overflow container */
header::after {
  content: "";
  clear: both;
  display: table;
}

section {
  margin-bottom: 2em;
}
/* add clearfix so floats don't overflow container */
section::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  /* border-top: 1px solid gray; */
  /* float: right; */
  font-size: 0.8em;
  /* padding-bottom: 1em; */
}

/* make the youtube embedded video responsive */
/* see https://avexdesigns.com/responsive-youtube-embed/ */
.video {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  /* margin: 0 auto; */
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* max-width: 560px; */
  /* max-height: 315px; */
}


h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}
h2 {
  font-size: 1.2em;
  font-weight: 400;
}

section h3 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-weight: 400;
  margin-bottom: 1em;
}


/* hr {
  color: #666;
  background-color: #666;
  border: none;
  height: 1px;
  width: 100%;
  margin: 0 auto 0.5em;
} */

/* remove the blue/purple/underline styling of default anchor links */
a {
  color: var(--link);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted gray;
}
a:hover {
  color: var(--hover);
}

ul {
  padding: 0;
}
ul.nobullets {
  list-style-type: none;
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  padding-right: 5px;
  /* color: white; */
  filter: invert(80%);
}

.me {
  float: right;
  width: 25%;
  min-width: 100px;
  padding: 0.7%;
  background: white;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

/* .me {
  float: left;
  width: 10%;
  min-width: 50px;
  padding: 1%;
  background: white;
  margin: 0 0.5em 0;
} */

/* .me {
  display: block;
  margin: 0 auto;
} */

.service {
  margin-bottom: 1em;
}

.project {
  margin-bottom: 1em;
}

.screenshot {
  width: 80%;
  margin: 0.5em auto 0;
  display: block;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}
